<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    {%block title%}
    {%endblock%}
</head>

<body>
    {%if messages%}

    {%for message in messages%}
    {%if message.level == DEFAULT_MESSAGE_LEVELS.ERROR%}
    <pre><div class="alert alert-danger" role="alert">{{message}} &#128543</div></pre>
    {%endif%}
    {%if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS%}
    <div class="alert alert-success" role="alert"> {{message}} &#128515&#128077</div>
    {%endif%}
    {% endfor %}
  
    {%endif%}

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Vinod Tea</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a href="{% url 'newCustomer'%}" class="btn text-nowrap btn-outline-light me-2" type="submit">New Customer</a>
                        <a href="{% url 'data'%}" class="btn text-nowrap btn-outline-light" type="submit">Data</a>
                    </li>
                </ul>

                <form action="{%url 'home'%}" class="d-flex">
                    <input name='name' class="form-control me-2" type="search" placeholder="Search">
                    <button class="btn  btn-outline-light me-2" type="submit">Search</button>
                </form>
    
            </div>
        </div>
    </nav>




    {%block content%}
    {%endblock%}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>

</body>

</html>